/* header */
.topHeader{
    width: 100%;

    display: flex;
    justify-content: space-between;
    background-color: rgb(42, 42, 42);
    align-items: center;
}

.menuBtn{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    cursor: pointer;
}
.menuBtnAndTitle{
    display: flex;
    align-items: center;
}
.title{
    padding-left: 15px;
    font-size: 23px;
    color: white;
    font-weight: 700;
}
.userBtn{
    display:flex;
    gap: 5px;
    align-items:center;
    background-color:orange;
    padding:10px;
    padding-bottom: 14px;
    height:100%;
}
.loginDetail{
    background-color: rgb(11, 38, 111);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 5px;
    
}
.loginIndicator{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 222, 0);
    border-radius: 50%;
    animation: loginAnimation 2s infinite;
}

.emailIdTxt{
    padding-top: 5px;
    font-size: 15px;
    color: rgb(59, 227, 59);
}
.userTxt{

    font-size: 18px;
}

.optionsBtn{
    margin-top: 10px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;

}
.optionIcon{
    color: orange;
}
/* header */

@keyframes loginAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

